*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(75, 89, 69);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 180px;
    width: calc(100% - 180px);
}
.sidebar.active{
    width: 220px;
}
.sidebar #btn{
    position: absolute;
    color: rgb(255, 253, 236);
    top: .5rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 70%;
}
.sidebar .top .logo{
    color: rgb(255, 253, 236);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    padding-left: 5px;
}
.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}
.bold{
    font-weight: 600;
}
.sidebar p{
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a{
    color: rgb(255, 226, 226);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
.sidebar ul li a:hover{
    background-color: rgb(255, 207, 207);
    color:rgb(75, 89, 69);
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}
.main-content{
    position: relative;
    background-image: url("https://i.pinimg.com/736x/ff/a5/fc/ffa5fce3b984b782c536af43e1658e28.jpg");
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
.container{
    padding: 20px 36px;
}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container header .search{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    background-color: rgb(141, 11, 65);
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}
.container header .search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.container header .search i{
    color: white;
}
::placeholder{
    color: rgba(255, 255, 255, 0.634);
}

.container .random img{
    width: 500px;
    height: 250px;
    border: 5px solid rgb(106, 8, 49);
    border-radius: 15px;
    margin-right: 150px;
}
.container .random{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 5px solid rgb(141, 11, 65);
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}
.container .random .left .info{
    margin-top: 12px;
    padding: 26px;
}
.container .random .left .info h2{
    font-size: 56px;
    margin-bottom: 8px;
}
.container .random .left .info h4,
.container .random .left .info h5{
    display: inline;
}
.container .random .left .info h5{
    color: grey;
}
.container .random .left .info .button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.container .random .left .info .button button{
    padding: 12px 16px;
    background-color: rgb(141, 11, 65);
    color: white;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
}
.container .random .left .info .button i{
    color: rgb(141, 11, 65);
    font-size: 20px;
}
.container .playlist .music-list .items .item .info img{
    width: 50px;
    border: 3px solid rgb(71, 15, 38);
    border-radius: 15px;
}
.container .playlist{
    margin-top: 14px;
    display: flex;
    gap: 20px;
}
.container .playlist .genres{
    color: white;
    background-color: rgb(75, 89, 69);
    padding: 20px;
    border-radius: 6px;
    width: 40%;
}
.container .playlist .genres .header,
.container .playlist .music-list .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container .playlist .genres .items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.container .playlist .genres .items .item{
    padding: 13px 1px;
    background-color: #671414;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.container .playlist .genres .items .item p{
    font-size: 14px;
    font-weight: bold;
}
.container .playlist .genres .items .item:nth-child(1){
    background-color: #A1D6CB;
}.container .playlist .genres .items .item:nth-child(2){
    background-color: #FF8383;
}.container .playlist .genres .items .item:nth-child(3){
    background-color: #FFF574;
}.container .playlist .genres .items .item:nth-child(4){
    background-color: #A1EEBD;
}.container .playlist .genres .items .item:nth-child(5){
    background-color: #A19AD3;
}.container .playlist .genres .items .item:nth-child(6){
    background-color: #E73879;
}
.container .playlist .music-list{
    background-color: rgb(141, 11, 65);
    padding: 20px;
    color: white;
    border-radius: 6px;
    width: 65%;
}
.container .playlist .music-list .items .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container .playlist .music-list .items .item:last-child{
    margin-bottom: 0;
}
.container .playlist .music-list .items .item .info,
.container .playlist .music-list .items .item .actions{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container .playlist .music-list .items .item .info p{
    color: rgb(208, 208, 208);
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}
.container .playlist .music-list .items .item .actions p{
    font-size: 13px;
    font-weight: bold;
}
.container .playlist .music-list .items .item .actions .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 85, 136);
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
#plus{
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .sidebar{
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 999;
    }
    .main-content{
        top: 60px;
        left: 0;
        width: 100%;
    }
    .sidebar.active{
        display: none;
    }
    #btn{
        display: none;
    }
    #nav1 , #nav2 , #nav3 , #nav4{
        color:rgb(255, 255, 255);
    }
    #nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }
    .sidebar ul li a span{
        display: none;
    }
    .sidebar ul li{
        width: auto;
        margin: 0;
        top: 5px;
    }
    .sidebar ul{
        display: flex;
        justify-content: space-around;
    }
    .random img{
        display: none;
    }
    .random{
        height: 200px;
    }
    #artist , #plays{
        display: none;
    }
    .container .random .left .info{
        margin: 0;
        padding: 0;
    }
    .container .random .left .info .button{
        margin: 0;
    }
    .container .playlist{
        flex-direction: column;
    }
    .container .playlist .genres{
        width: 100%;
    }
    .container .playlist .music-list{
        width: 100%;
        height: 230px;
    }
}