*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(75, 89, 69);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 180px;
    width: calc(100% - 180px);
}
.sidebar.active{
    width: 220px;
}
.sidebar #btn{
    position: absolute;
    color: rgb(255, 253, 236);
    top: .5rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 70%;
}
.sidebar .top .logo{
    color: rgb(255, 253, 236);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    padding-left: 5px;
}
.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}
.bold{
    font-weight: 600;
}
.sidebar p{
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a{
    color: rgb(255, 226, 226);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
.sidebar ul li a:hover{
    background-color: rgb(255, 207, 207);
    color:rgb(75, 89, 69);
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}
.main-content{
    position: relative;
    background-image: url("https://i.pinimg.com/736x/ff/a5/fc/ffa5fce3b984b782c536af43e1658e28.jpg");
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}
#img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.desc{
    z-index: 999;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    margin-left: 200px;
    padding-top: 170px;
}
.desc h1{
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: rgb(145, 173, 134);
}
.line{
    margin: 50px 0;
    width: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.689);
}
.stats{
    display: flex;
    gap: 100px;
    text-align: center;
}
#logo{
    position: absolute;
    width: 300px;
    left: -45px;
    top: -50px;
}
#small-logo{
    width: 100px;
    margin-left: 8px;
    margin-top: 5px;
}


@media screen and (max-width: 600px) {

    .sidebar{
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 999;
    }
    .main-content{
        top: 60px;
        left: 0;
        width: 100%;
    }
    .sidebar.active{
        display: none;
    }
    #btn{
        display: none;
    }
    #nav1 , #nav2 , #nav3 , #nav4{
        color:rgb(255, 255, 255);
    }
    #nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }
    .sidebar ul li a span{
        display: none;
    }
    .sidebar ul li{
        width: auto;
        margin: 0;
        top: 5px;
    }
    .sidebar ul{
        display: flex;
        justify-content: space-around;
    }
    #img{
        width: 100%;
        
    }
    .intro{
        display: none;
    }
    #logo{
        width: 470px;
        top: 300px;
    }
    #welcome{
        font-size: 50px;
        margin-left: 50px;
        flex-wrap: wrap;

    }
    .desc{
        margin-left: 0px;
    }
}