*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    background: url("https://i.pinimg.com/736x/b0/4b/8f/b04b8f1a36fe0aef6328190fbed2938b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 500px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 5px 20px rgb(255, 255, 255);
    font-weight: bold;
}
.btn{
    width: 400px;
}
.forget-btn{
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #5e8abd;
}
.input{
    width: 400px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}
.line{
    width: 450px;
    border: 1px solid rgb(225, 223, 223);
    margin-top: 20px;
}
#btn2{
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(75, 89, 69);
    border: 0px;
}
#btn1{
    font-weight: bold;
    height: 50px;
    font-size: 20px;
    border: 0px;
    background-color: rgb(141, 11, 65);
}
#email{
    margin-top: 50px;
}
#title{
    margin-top: 30px;
    font-weight: bold;
}
.createAcc{
    text-decoration: none;
    margin: 30px;
    color: white;
    padding: 10px 50px;
    border: 1px solid rgb(75, 89, 69);
    background-color: rgb(75, 89, 69);
    border-radius: 5px;
}
.return{
    margin-bottom: 20px;
    text-decoration: none;
    color: #5e8abd;
}