*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar{
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 80px;
    background-color: rgb(75, 89, 69);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 180px;
    width: calc(100% - 180px);
}
.sidebar.active{
    width: 220px;
}
.sidebar #btn{
    position: absolute;
    color: rgb(255, 253, 236);
    top: .5rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 70%;

}
.sidebar .top .logo{
    color: rgb(255, 253, 236);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    padding-left: 10px;
}
.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}
.bold{
    font-weight: 600;
}
.sidebar p{
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a{
    color: rgb(255, 226, 226);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
.sidebar ul li a:hover{
    background-color: rgb(255, 207, 207);
    color:rgb(75, 89, 69);
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}
.main-content{
    position: relative;
    background-color:black;
    background-repeat: repeat;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
.container{
    padding: 20px 36px;
}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container header .search{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    background-color: rgb(75, 89, 69);
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}
.container header .search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.container header .search i{
    color: white;
}
::placeholder{
    color: rgba(255, 255, 255, 0.634);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6 , auto);
    justify-content: center;
}



.add-product button:hover {
    background-color: rgb(48, 80, 35);
}
.add-product ::placeholder{
    color: rgba(0, 0, 0, 0.634);
}

#blur{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -999;
    opacity: 0;
}
#blur.active{
    opacity: 1;
    background-color: #324b36b2;
    transition: all 0.5s ease;
    z-index: 998;
}
@media screen and (max-width: 600px) {

    .sidebar{
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        z-index: 999;
    }
    .main-content{
        top: 60px;
        left: 0;
        width: 100%;
    }
    .sidebar.active{
        display: none;
    }
    #btn{
        display: none;
    }
    #nav1 , #nav2 , #nav3 , #nav4{
        color:rgb(255, 255, 255);
    }
    #nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }
    .sidebar ul li a span{
        display: none;
    }
    .sidebar ul li{
        width: auto;
        margin: 0;
        top: 5px;
    }
    .sidebar ul{
        display: flex;
        justify-content: space-around;
    }
    #popup{
        left: 450px;
    }
    .left-panel{
        border-radius: 15px;
    }
    
    
    
}
#small-logo{
    width: 100px;
    margin-left: 8px;
    margin-top: 5px;
}
#song-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.song-item{
    margin-top: 50px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 250px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: 10px;
    position: relative;
}
.song-item img{
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.song-item:hover{
    background-color: rgb(75, 89, 69);
    color:rgb(255, 255, 255);
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .back-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .popUp{
    z-index: 999;
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: black;
    box-shadow: 0 0 10px black;
    visibility: hidden;
    transition: transform 0.5s, top 0.4s;
}
#plus{
    width: 100px;    
}
.popUp h2{
    font-size: 38px;
    font-weight: bolder;
    margin: 30px 0 10px;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}
#save-song{
    width: 100%;
    height: 50px;
    background-color: rgb(98, 116, 91);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    margin-top: 10px;
}
#save-song:hover{
    background-color: rgb(136, 160, 126);
}

.add-product input {
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(33, 91, 32);
    border-radius: 10px;
    font-size: 16px;
    margin: 10px 0;
}

.left-panel {
    width: 50%;
    height: 500px;
    background-color: rgb(60, 70, 56);
    padding: 40px;
    color: white;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.right-panel{
    width: 50%;
    height: 500px;
    background-image: url();
    background-size: 450px;
    color: white;
    position: absolute;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    right: 0;
}
.right-panel img{
    width: 100%;
    height: 100%;
}

.delete-btn{
    background-color: rgb(136, 160, 126);
    color: white;
    border: none;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: 0.3s ease;
    width: 0%;
    opacity: 0;
    position: relative;
    transition: all 0.3s ease;
}
.delete-btn:hover{
    background-color: rgb(69, 70, 69);
    width: 100%;
    opacity: 1;
}
.name{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 3;
    position: relative;
}
.img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}
.bx-play{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
}
.song-item:hover .bx-play{
    opacity: 1;
    top: 50%;
}
.blur{
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all 0.3s ease;
}
.song-item:hover .blur{
    backdrop-filter: blur(10px);
    border-radius: 15px;

}
.song-item:hover .delete-btn{
    opacity: 1;
    z-index: 999;
    width: 100%;
}
#load-more {
    width: 7%;
    background-color: rgb(75, 89, 69);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}
#load-more:hover {
    background-color: rgb(140, 167, 129);
    transform: scale(1.05);
}
.trend{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 30px;
}